{
  "extends": "airbnb",
  "plugins": [
    "es-beautifier"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "globals": {
    "jQuery": true,
    "$": true,
    "translate": true
  }
}