page: /router/page
section: /router/section
---
.js-app-root(:data-section="section", :data-page="page")
  .fixed.pin.bg-cover.flex.justify-center.items-center
    .text-black.text-3xl A warm hello from JSONMVC