---
.bg-white.avenir

  //- Menu
  .ph3.pv1.bg-black.mb3
    .mw8.cf.center.pv1

      .f2.fl.mr3
        .fa.fa-github.white.ph8.b--white.pointer

      .bg-mid-gray.white-60.mt1.w5.h2.br2.f7.fl.ph2.pt2 Search GitHub

      .white-70.mt2.pt1.fl.ml3
        .f6.b.dib.hover-white-90.mr3.pointer Pull Requests
        .f6.dib.b.mr3.hover-white-90.pointer Issues
        .f6.b.dib.mr3.hover-white-90.pointer Marketplace
        .f6.b.dib.mr3.hover-white-90.pointer Explore

      .white-70.fr.mt3
        .fa.fa-plus.white-70.dib.mr2.pointer.hover-white    
        .fa.fa-caret-down.dib.white-70.mr3.pointer.hover-white
        .fa.fa-picture-o.white-70.dib.mr2.pointer
        .fa.fa-caret-down.dib.white-70.pointer.hover-white

  //- Page Body
  .mw8.center.bg-white.cf.pt1

    //- Left
    .fl.w-25.pr3
      //- container
      .bg-lightest-blue.h5.br3
        .pv4.dib.bg-blue.w4.ml3.mt4

    //- Right
    .fl.w-75.pl3

      //- Notification
      .f1.bg-lightest-blue.ba.br2.h3.f6.pa2.mb4.b--blue.cf
        .fa.fa-times.fr
        .bg-green.dib.f7.white.fr.br2.pa2.pr2
          .fa.fa-pencil.mr1
          .dib.b Edit profile
  
        .di.f6.pr1.dark-blue.b ProTip!
        .di.dark-blue Updating your profile with your name, location, and a profile picture helps other GitHub users get to know you.
     
      //- Menu
      .cf.bb.b--black-20
        .f6.dib.bb.b--orange.pb3 Overview
        .f6.dib.pl4.black-70 Repositories
        .f7.dib.bg-light-gray.ph2.br-100.w1.pa1.h1.b.black-60 1
        .f6.dib.pl4.black-70 Stars
        .f7.dib.bg-light-gray.ph2.br-100.w1.pa1.h1.b.black-60 0
        .f6.dib.pl4.black-70 Followers
        .f7.dib.bg-light-gray.ph2.br-100.w1.pa1.h1.b.black-60 0
        .f6.dib.pl4.black-70 Following
        .f7.dib.bg-light-gray.ph2.br-100.w1.pa1.h1.b.black-60 0
      
      //- Titles
      .db
        .f5.black-80.mt4 Popular repositories
        .f6.fr.hover-dark-blue Customize your pinned repositories

      //- Repository List
      .db.cf
        .fl.