---
.bg-white.bb.bt.pv6.avenir
 .bg-washed-green.mw7.center.pv5.tc.fw5.dark-green.ph5
  .f2.b.mb3 This is a tagline. For x. 
  .f4.mb3 This will change things. And we want you to be involved. This text needs to be longer for testing sake.
  .f5.mb3 Sign up for beta access or learn more about x.
  .bg-dark-green.dib.mr3.br-pill.white-80.ph3.pt2.pb2.f6 Sign Up
  .bg-washed-green.dib.ph3.ba.br4.pt2.pb2.f6 Learn More