---
.bg-white.athelas.i.bt-light-green.cf
    .dtc.pl1.fl.mt3.f1.b proVerb
    .pv2.ph3.bg-green.br-pill.mt1.fr.w-70.dt
        .dtc.v-mid
            .dt.w-100.dt--fixed
                .dtc.pr3
                    .pa2.bg-white.br-pill.tc.b.hover-bg-light-green.pointer home
                .dtc.pr3
                    .pa2.bg-white.br-pill.tc.b shop
                .dtc.pr3
                    .pa2.bg-white.br-pill.tc.b contact
                .dtc
                    .pa2.bg-white.br-pill.tc.b about
        .dtc.w-40
            .f1.tc.b f
                


