---
.bg-white.avenir.bt.pv5.bb.b--light-blue 
 .center.bg-lightest-blue.ba.b--light-blue.pa4.br2.mw8
  .bg-blue.fr.white.ph6.pt3.pb3.hover-bg-dark-blue.f6.br2.mt3 Sign up for free
  .blue.fw4.pb1.pt0.f3.mb3 This is a promo title
  .black-70.f5.w-50 This is suporting copy for the wonderful promo catchphrase that is going to be used
  
 